examples/alarm-ultimate-dashboard-v2.json
[
  {
    "id": "c0a4b6d3e5f70819",
    "type": "tab",
    "label": "Alarm Ultimate - Dashboard V2 (FlowFuse)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d1b5c7e4f608192a",
    "type": "comment",
    "z": "c0a4b6d3e5f70819",
    "name": "Requires @flowfuse/node-red-dashboard",
    "info": "Install `@flowfuse/node-red-dashboard` (Dashboard 2.0), then import this flow.\n\nDashboard V2 URLs (default):\n- Panel:    http://<node-red-host>:1880/dashboard/panel\n- Controls: http://<node-red-host>:1880/dashboard/controls\n- Sensors:  http://<node-red-host>:1880/dashboard/sensors\n- Zones:    http://<node-red-host>:1880/dashboard/zones\n- Log:      http://<node-red-host>:1880/dashboard/log\n- Status:   http://<node-red-host>:1880/dashboard/status\n\nNotes:\n- If you changed the Dashboard path in the `ui-base` config, adjust `/dashboard` accordingly.\n- The embedded Alarm Panel is served from Node-RED *admin* endpoints (`/alarm-ultimate/alarm-panel`).",
    "x": 290,
    "y": 60,
    "wires": []
  },
  {
    "id": "a2b3c4d5e6f70819",
    "type": "AlarmSystemUltimate",
    "z": "c0a4b6d3e5f70819",
    "name": "Home Alarm",
    "controlTopic": "alarm",
    "payloadPropName": "payload",
    "persistState": true,
    "requireCodeForArm": false,
    "requireCodeForDisarm": false,
    "armCode": "",
    "duressCode": "",
    "blockArmOnViolations": true,
    "exitDelaySeconds": 10,
    "entryDelaySeconds": 30,
    "emitOpenZonesDuringArming": false,
    "openZonesArmingIntervalSeconds": 1,
    "openZonesRequestTopic": "alarm/listOpenZones",
    "openZonesRequestIntervalSeconds": 0,
    "sirenDurationSeconds": 180,
    "sirenLatchUntilDisarm": false,
    "sirenTopic": "alarm/siren",
    "sirenOnPayload": true,
    "sirenOnPayloadType": "bool",
    "sirenOffPayload": false,
    "sirenOffPayloadType": "bool",
    "emitRestoreEvents": false,
    "maxLogEntries": 50,
    "zones": "[\n  {\n    \"id\": \"front_door\",\n    \"name\": \"Front door\",\n    \"topic\": \"sensor/frontdoor\",\n    \"type\": \"perimeter\",\n    \"entry\": true,\n    \"bypassable\": true,\n    \"chime\": true\n  },\n  {\n    \"id\": \"living_pir\",\n    \"name\": \"Living PIR\",\n    \"topic\": \"sensor/living_pir\",\n    \"type\": \"motion\",\n    \"entry\": false,\n    \"bypassable\": true,\n    \"cooldownSeconds\": 10\n  }\n]",
    "x": 220,
    "y": 200,
    "wires": [
      [],
      [],
      [],
      [],
      [],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "e6f708192a3b4c5e",
    "type": "ui-template",
    "z": "c0a4b6d3e5f70819",
    "group": "08192a3b4c5d6e7f",
    "name": "Alarm Panel (embed)",
    "order": 1,
    "width": 12,
    "height": 18,
    "head": "",
    "format": "<template>\n  <iframe :src=\"panelUrl\" style=\"width:100%; height:720px; border:0; border-radius:10px;\"></iframe>\n</template>\n\n<script>\nexport default {\n  data () {\n    return {\n      panelUrl: ''\n    }\n  },\n  mounted () {\n    const alarmNodeId = 'a2b3c4d5e6f70819'\n    const setupUrl = new URL('../_setup', window.location.href)\n\n    fetch(setupUrl)\n      .then(r => r.json())\n      .then(setup => {\n        const httpAdminRoot = setup?.RED?.httpAdminRoot ?? '/'\n        const root = httpAdminRoot.endsWith('/') ? httpAdminRoot : `${httpAdminRoot}/`\n        this.panelUrl = `${root}alarm-ultimate/alarm-panel?embed=1&view=keypad&id=${encodeURIComponent(alarmNodeId)}`\n      })\n      .catch(() => {\n        const relative = `../alarm-ultimate/alarm-panel?embed=1&view=keypad&id=${encodeURIComponent(alarmNodeId)}`\n        this.panelUrl = new URL(relative, window.location.href).toString()\n      })\n  }\n}\n</script>\n",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 520,
    "y": 200
  },
  {
    "id": "1c2d3e4f50617283",
    "type": "ui-template",
    "z": "c0a4b6d3e5f70819",
    "group": "4b5c6d7e8f901a2b",
    "name": "Zones (embed)",
    "order": 1,
    "width": 12,
    "height": 18,
    "head": "",
    "format": "<template>\n  <iframe :src=\"panelUrl\" style=\"width:100%; height:720px; border:0; border-radius:10px;\"></iframe>\n</template>\n\n<script>\nexport default {\n  data () {\n    return {\n      panelUrl: ''\n    }\n  },\n  mounted () {\n    const alarmNodeId = 'a2b3c4d5e6f70819'\n    const setupUrl = new URL('../_setup', window.location.href)\n\n    fetch(setupUrl)\n      .then(r => r.json())\n      .then(setup => {\n        const httpAdminRoot = setup?.RED?.httpAdminRoot ?? '/'\n        const root = httpAdminRoot.endsWith('/') ? httpAdminRoot : `${httpAdminRoot}/`\n        this.panelUrl = `${root}alarm-ultimate/alarm-panel?embed=1&view=zones&id=${encodeURIComponent(alarmNodeId)}`\n      })\n      .catch(() => {\n        const relative = `../alarm-ultimate/alarm-panel?embed=1&view=zones&id=${encodeURIComponent(alarmNodeId)}`\n        this.panelUrl = new URL(relative, window.location.href).toString()\n      })\n  }\n}\n</script>\n",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 820,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "2d3e4f5061728394",
    "type": "ui-template",
    "z": "c0a4b6d3e5f70819",
    "group": "5c6d7e8f901a2b3c",
    "name": "Log (embed)",
    "order": 1,
    "width": 12,
    "height": 14,
    "head": "",
    "format": "<template>\n  <iframe :src=\"panelUrl\" style=\"width:100%; height:560px; border:0; border-radius:10px;\"></iframe>\n</template>\n\n<script>\nexport default {\n  data () {\n    return {\n      panelUrl: ''\n    }\n  },\n  mounted () {\n    const alarmNodeId = 'a2b3c4d5e6f70819'\n    const setupUrl = new URL('../_setup', window.location.href)\n\n    fetch(setupUrl)\n      .then(r => r.json())\n      .then(setup => {\n        const httpAdminRoot = setup?.RED?.httpAdminRoot ?? '/'\n        const root = httpAdminRoot.endsWith('/') ? httpAdminRoot : `${httpAdminRoot}/`\n        this.panelUrl = `${root}alarm-ultimate/alarm-panel?embed=1&view=log&id=${encodeURIComponent(alarmNodeId)}`\n      })\n      .catch(() => {\n        const relative = `../alarm-ultimate/alarm-panel?embed=1&view=log&id=${encodeURIComponent(alarmNodeId)}`\n        this.panelUrl = new URL(relative, window.location.href).toString()\n      })\n  }\n}\n</script>\n",
    "storeOutMessages": true,
    "passthru": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1090,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "b4c5d6e7f8091a2b",
    "type": "function",
    "z": "c0a4b6d3e5f70819",
    "name": "Build control msg",
    "func": "const payload = msg.payload;\n\nmsg.topic = \"alarm\";\n\nif (payload && typeof payload === \"object\") {\n  if (typeof payload.command === \"string\") msg.command = payload.command;\n  if (payload.zone != null) msg.zone = payload.zone;\n  if (payload.code != null) msg.code = payload.code;\n} else if (typeof payload === \"string\") {\n  msg.command = payload;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 380,
    "wires": [
      [
        "a2b3c4d5e6f70819"
      ]
    ]
  },
  {
    "id": "c5d6e7f8091a2b3c",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "f708192a3b4c5d6e",
    "name": "Arm",
    "label": "Arm",
    "order": 1,
    "width": 4,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "white",
    "bgcolor": "#ff375f",
    "className": "",
    "icon": "fa-lock",
    "iconPosition": "left",
    "payload": "arm",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 220,
    "y": 340,
    "wires": [
      [
        "b4c5d6e7f8091a2b"
      ]
    ]
  },
  {
    "id": "d6e7f8091a2b3c4d",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "f708192a3b4c5d6e",
    "name": "Disarm",
    "label": "Disarm",
    "order": 2,
    "width": 4,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "white",
    "bgcolor": "#1f6feb",
    "className": "",
    "icon": "fa-unlock",
    "iconPosition": "left",
    "payload": "disarm",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 220,
    "y": 380,
    "wires": [
      [
        "b4c5d6e7f8091a2b"
      ]
    ]
  },
  {
    "id": "e7f8091a2b3c4d5e",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "f708192a3b4c5d6e",
    "name": "Status snapshot",
    "label": "Status",
    "order": 3,
    "width": 4,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Emits a full snapshot on output 1",
    "color": "white",
    "bgcolor": "#6e7681",
    "className": "",
    "icon": "fa-info-circle",
    "iconPosition": "left",
    "payload": "status",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 220,
    "y": 420,
    "wires": [
      [
        "b4c5d6e7f8091a2b"
      ]
    ]
  },
  {
    "id": "f8091a2b3c4d5e6f",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "e6f708192a3b4c5d",
    "name": "Front door OPEN",
    "label": "Front door: OPEN",
    "order": 1,
    "width": 6,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Sends topic sensor/frontdoor payload true",
    "color": "white",
    "bgcolor": "#d1242f",
    "className": "",
    "icon": "fa-door-open",
    "iconPosition": "left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "sensor/frontdoor",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 230,
    "y": 520,
    "wires": [
      [
        "a2b3c4d5e6f70819"
      ]
    ]
  },
  {
    "id": "091a2b3c4d5e6f70",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "e6f708192a3b4c5d",
    "name": "Front door CLOSED",
    "label": "Front door: CLOSED",
    "order": 2,
    "width": 6,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Sends topic sensor/frontdoor payload false",
    "color": "white",
    "bgcolor": "#2ea043",
    "className": "",
    "icon": "fa-door-closed",
    "iconPosition": "left",
    "payload": "false",
    "payloadType": "bool",
    "topic": "sensor/frontdoor",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 230,
    "y": 560,
    "wires": [
      [
        "a2b3c4d5e6f70819"
      ]
    ]
  },
  {
    "id": "1a2b3c4d5e6f7081",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "e6f708192a3b4c5d",
    "name": "Living PIR MOTION",
    "label": "Living PIR: MOTION",
    "order": 3,
    "width": 6,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Sends topic sensor/living_pir payload true",
    "color": "white",
    "bgcolor": "#ff9f0a",
    "className": "",
    "icon": "fa-walking",
    "iconPosition": "left",
    "payload": "true",
    "payloadType": "bool",
    "topic": "sensor/living_pir",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 230,
    "y": 600,
    "wires": [
      [
        "a2b3c4d5e6f70819"
      ]
    ]
  },
  {
    "id": "2b3c4d5e6f708192",
    "type": "ui-button",
    "z": "c0a4b6d3e5f70819",
    "group": "e6f708192a3b4c5d",
    "name": "Living PIR CLEAR",
    "label": "Living PIR: CLEAR",
    "order": 4,
    "width": 6,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Sends topic sensor/living_pir payload false",
    "color": "white",
    "bgcolor": "#6e7681",
    "className": "",
    "icon": "fa-pause",
    "iconPosition": "left",
    "payload": "false",
    "payloadType": "bool",
    "topic": "sensor/living_pir",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 230,
    "y": 640,
    "wires": [
      [
        "a2b3c4d5e6f70819"
      ]
    ]
  },
  {
    "id": "3c4d5e6f708192a3",
    "type": "AlarmUltimateState",
    "z": "c0a4b6d3e5f70819",
    "name": "Alarm State",
    "alarmId": "a2b3c4d5e6f70819",
    "topic": "",
    "outputInitialState": true,
    "x": 220,
    "y": 720,
    "wires": [
      [
        "4d5e6f708192a3b4"
      ]
    ]
  },
  {
    "id": "5e6f708192a3b4c5",
    "type": "AlarmUltimateSiren",
    "z": "c0a4b6d3e5f70819",
    "name": "Siren",
    "alarmId": "a2b3c4d5e6f70819",
    "topic": "",
    "outputInitialState": true,
    "x": 220,
    "y": 760,
    "wires": [
      [
        "6f708192a3b4c5d6"
      ]
    ]
  },
  {
    "id": "4d5e6f708192a3b4",
    "type": "ui-text",
    "z": "c0a4b6d3e5f70819",
    "group": "192a3b4c5d6e7f80",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "",
    "label": "Alarm state",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "Helvetica",
    "fontSize": 16,
    "color": "#717171",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 520,
    "y": 720
  },
  {
    "id": "6f708192a3b4c5d6",
    "type": "ui-text",
    "z": "c0a4b6d3e5f70819",
    "group": "192a3b4c5d6e7f80",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "",
    "label": "Siren",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "Helvetica",
    "fontSize": 16,
    "color": "#717171",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 520,
    "y": 760
  },
  {
    "id": "c4d5e6f708192a3b",
    "type": "ui-base",
    "name": "Dashboard",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "fixed",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 5,
    "showDisconnectNotification": true,
    "allowInstall": false
  },
  {
    "id": "b3c4d5e6f708192a",
    "type": "ui-theme",
    "name": "Default",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094CE",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "4px",
      "widgetGap": "12px"
    }
  },
  {
    "id": "d5e6f708192a3b4c",
    "type": "ui-page",
    "name": "Panel",
    "ui": "c4d5e6f708192a3b",
    "path": "/panel",
    "icon": "shield-home",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 1,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "b1c2d3e4f5060718",
    "type": "ui-page",
    "name": "Controls",
    "ui": "c4d5e6f708192a3b",
    "path": "/controls",
    "icon": "remote",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 2,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "c2d3e4f506071829",
    "type": "ui-page",
    "name": "Sensors",
    "ui": "c4d5e6f708192a3b",
    "path": "/sensors",
    "icon": "motion-sensor",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 3,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "e4f5060718293b4c",
    "type": "ui-page",
    "name": "Zones",
    "ui": "c4d5e6f708192a3b",
    "path": "/zones",
    "icon": "format-list-bulleted",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 4,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "f5060718293b4c5d",
    "type": "ui-page",
    "name": "Log",
    "ui": "c4d5e6f708192a3b",
    "path": "/log",
    "icon": "format-list-text",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 5,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "d3e4f5060718293a",
    "type": "ui-page",
    "name": "Status",
    "ui": "c4d5e6f708192a3b",
    "path": "/status",
    "icon": "information-outline",
    "layout": "grid",
    "theme": "b3c4d5e6f708192a",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 12
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 12
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 12
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 6,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "08192a3b4c5d6e7f",
    "type": "ui-group",
    "name": "Panel",
    "page": "d5e6f708192a3b4c",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "f708192a3b4c5d6e",
    "type": "ui-group",
    "name": "Controls",
    "page": "b1c2d3e4f5060718",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "e6f708192a3b4c5d",
    "type": "ui-group",
    "name": "Sensor simulator",
    "page": "c2d3e4f506071829",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "192a3b4c5d6e7f80",
    "type": "ui-group",
    "name": "Status",
    "page": "d3e4f5060718293a",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "4b5c6d7e8f901a2b",
    "type": "ui-group",
    "name": "Zones",
    "page": "e4f5060718293b4c",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "5c6d7e8f901a2b3c",
    "type": "ui-group",
    "name": "Log",
    "page": "f5060718293b4c5d",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  }
]
