examples/alarm-ultimate-home-assistant-alarm-panel.json
[
  {
    "id": "b3b0c2c1a9e7d001",
    "type": "tab",
    "label": "Alarm Ultimate - Home Assistant (Alarm Panel)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8b2d0e6a71a54e10",
    "type": "comment",
    "z": "b3b0c2c1a9e7d001",
    "name": "Home Assistant integration (no MQTT)",
    "info": "Requires `node-red-contrib-home-assistant-websocket`.\n\nThis example is designed for Node-RED running as the Home Assistant Add-on.\n\nWhat it does:\n- Takes Home Assistant `binary_sensor.*` state changes (\"on\"/\"off\") and feeds Alarm zones.\n- Receives arm/disarm commands from a Home Assistant Template Alarm Control Panel via an HA event.\n- Mirrors Alarm events back into Home Assistant by updating `input_select.alarm_ultimate_state`.\n\nYou must create in Home Assistant:\n1) An input_select named `input_select.alarm_ultimate_state` with options:\n   - disarmed\n   - arming\n   - armed_away\n   - armed_home\n   - pending\n   - triggered\n2) A Template Alarm Control Panel (example YAML):\n\ntemplate:\n  - alarm_control_panel:\n      - name: \"Alarm Ultimate\"\n        unique_id: alarm_ultimate\n        state: \"{{ states('input_select.alarm_ultimate_state') }}\"\n        code_format: no_code\n        arm_away:\n          - event: alarm_ultimate_command\n            event_data:\n              action: arm_away\n        arm_home:\n          - event: alarm_ultimate_command\n            event_data:\n              action: arm_home\n        disarm:\n          - event: alarm_ultimate_command\n            event_data:\n              action: disarm\n        trigger:\n          - event: alarm_ultimate_command\n            event_data:\n              action: trigger\n\nThen add the standard HA \"Alarm panel\" card and select this entity.\n\nEdit these entities in this flow:\n- binary_sensor.front_door_contact\n- binary_sensor.living_room_motion\n\nAnd edit the Alarm zones topic to match those entity_ids (already set in this example).\n",
    "x": 330,
    "y": 60,
    "wires": []
  },
  {
    "id": "a6c9d8f2b7f24a10",
    "type": "server",
    "name": "Home Assistant",
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "30",
    "areaSelector": "id",
    "deviceSelector": "id",
    "entitySelector": "id",
    "statusSeparator": "at: ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "default",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": false,
    "version": 5
  },
  {
    "id": "d0c1b2a3f4e50617",
    "type": "AlarmSystemUltimate",
    "z": "b3b0c2c1a9e7d001",
    "name": "Home Alarm",
    "controlTopic": "alarm",
    "payloadPropName": "payload",
    "persistState": true,
    "requireCodeForArm": false,
    "requireCodeForDisarm": false,
    "armCode": "",
    "duressCode": "",
    "blockArmOnViolations": true,
    "exitDelaySeconds": 10,
    "entryDelaySeconds": 30,
    "emitOpenZonesDuringArming": false,
    "openZonesArmingIntervalSeconds": 1,
    "openZonesRequestTopic": "alarm/listOpenZones",
    "openZonesRequestIntervalSeconds": 0,
    "sirenDurationSeconds": 180,
    "sirenLatchUntilDisarm": false,
    "sirenTopic": "alarm/siren",
    "sirenOnPayload": true,
    "sirenOnPayloadType": "bool",
    "sirenOffPayload": false,
    "sirenOffPayloadType": "bool",
    "emitRestoreEvents": false,
    "maxLogEntries": 200,
    "zones": "[\n  {\n    \"id\": \"front_door\",\n    \"name\": \"Front door\",\n    \"topic\": \"binary_sensor.front_door_contact\",\n    \"type\": \"perimeter\",\n    \"entry\": true,\n    \"bypassable\": true,\n    \"chime\": true\n  },\n  {\n    \"id\": \"living_pir\",\n    \"name\": \"Living room motion\",\n    \"topic\": \"binary_sensor.living_room_motion\",\n    \"type\": \"motion\",\n    \"entry\": false,\n    \"bypassable\": true,\n    \"cooldownSeconds\": 10\n  }\n]",
    "x": 760,
    "y": 240,
    "wires": [
      [
        "e3e4f5060718293a",
        "3f50b6a7c1c8b3d10"
      ],
      [
        "3f50b6a7c1c8b3d11"
      ],
      [],
      [],
      [],
      [
        "3f50b6a7c1c8b3d12"
      ],
      [],
      [],
      []
    ]
  },
  {
    "id": "c44ac2b6af1a1e2a",
    "type": "AlarmUltimateInputAdapter",
    "z": "b3b0c2c1a9e7d001",
    "name": "HA sensors on/off → boolean",
    "presetSource": "builtin",
    "presetId": "home_assistant_on_off",
    "userCode": "return msg;",
    "x": 500,
    "y": 240,
    "wires": [
      [
        "d0c1b2a3f4e50617"
      ]
    ]
  },
  {
    "id": "c2b3a4d5e6f70819",
    "type": "server-state-changed",
    "z": "b3b0c2c1a9e7d001",
    "name": "HA binary_sensor.* → Alarm zones",
    "server": "a6c9d8f2b7f24a10",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "binary_sensor.front_door_contact",
        "binary_sensor.living_room_motion"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": true,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "0",
    "forType": "num",
    "forUnits": "seconds",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "triggerId",
        "valueType": "eventData"
      },
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "new_state.state",
        "valueType": "eventData"
      }
    ],
    "x": 220,
    "y": 240,
    "wires": [
      [
        "c44ac2b6af1a1e2a"
      ]
    ]
  },
  {
    "id": "e1f2a3b4c5d60718",
    "type": "server-events",
    "z": "b3b0c2c1a9e7d001",
    "name": "HA event: alarm_ultimate_command",
    "server": "a6c9d8f2b7f24a10",
    "version": 3,
    "exposeAsEntityConfig": "",
    "eventType": "alarm_ultimate_command",
    "eventData": "",
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 230,
    "y": 380,
    "wires": [
      [
        "f2a3b4c5d6e70819"
      ]
    ]
  },
  {
    "id": "f2a3b4c5d6e70819",
    "type": "function",
    "z": "b3b0c2c1a9e7d001",
    "name": "HA command → Alarm control msg",
    "func": "const root = msg && typeof msg === \"object\" ? msg : {};\nconst eventData = root.payload && typeof root.payload === \"object\" ? root.payload : {};\nconst ev = eventData.event && typeof eventData.event === \"object\" ? eventData.event : {};\n\nconst action = String(ev.action || ev.command || \"\").trim().toLowerCase();\nconst mode = String(ev.mode || \"\").trim().toLowerCase();\nconst code = typeof ev.code === \"string\" ? ev.code.trim() : \"\";\n\nif (!action) return null;\n\nconst out = { topic: \"alarm\" };\n\nif (action === \"disarm\") {\n  out.command = \"disarm\";\n} else if (action === \"trigger\" || action === \"panic\") {\n  out.command = \"panic\";\n} else if (action.startsWith(\"arm\")) {\n  out.command = \"arm\";\n} else {\n  return null;\n}\n\nif (code) out.code = code;\nif (mode) {\n  // AlarmSystemUltimate maps legacy modes to \"armed\".\n  out.mode = mode;\n}\n\n// Remember last requested arm mode to map HA state on \"armed\" events.\nif (out.command === \"arm\") {\n  const map = {\n    arm_home: \"armed_home\",\n    arm_away: \"armed_away\",\n    arm_night: \"armed_home\",\n    arm: \"armed_away\",\n  };\n  flow.set(\"alarmUltimate:lastArmMode\", map[action] || \"armed_away\");\n}\n\nreturn out;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 380,
    "wires": [
      [
        "d0c1b2a3f4e50617"
      ]
    ]
  },
  {
    "id": "e3e4f5060718293a",
    "type": "function",
    "z": "b3b0c2c1a9e7d001",
    "name": "Alarm events → HA alarm state",
    "func": "const evt = msg && typeof msg.event === \"string\" ? msg.event : \"\";\nlet haState = null;\n\nif (evt === \"disarmed\" || evt === \"reset\") {\n  haState = \"disarmed\";\n} else if (evt === \"arming\") {\n  haState = \"arming\";\n} else if (evt === \"armed\") {\n  haState = flow.get(\"alarmUltimate:lastArmMode\") || \"armed_away\";\n} else if (evt === \"entry_delay\") {\n  haState = \"pending\";\n} else if (evt === \"alarm\") {\n  haState = \"triggered\";\n}\n\nif (!haState) return null;\n\nmsg.haState = haState;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 500,
    "wires": [
      [
        "a1b2c3d4e5f60718"
      ]
    ]
  },
  {
    "id": "a1b2c3d4e5f60718",
    "type": "api-call-service",
    "z": "b3b0c2c1a9e7d001",
    "name": "Set input_select.alarm_ultimate_state",
    "server": "a6c9d8f2b7f24a10",
    "version": 5,
    "debugenabled": false,
    "domain": "input_select",
    "service": "select_option",
    "areaId": [],
    "deviceId": [],
    "entityId": [
      "input_select.alarm_ultimate_state"
    ],
    "data": "{\"option\":haState}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 830,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "b0a1c2d3e4f50607",
    "type": "inject",
    "z": "b3b0c2c1a9e7d001",
    "name": "Sync on deploy (status)",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "status",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "x": 260,
    "y": 500,
    "wires": [
      [
        "d0c1b2a3f4e50617"
      ]
    ]
  },
  {
    "id": "3f50b6a7c1c8b3d10",
    "type": "debug",
    "z": "b3b0c2c1a9e7d001",
    "name": "All events",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 200,
    "wires": []
  },
  {
    "id": "3f50b6a7c1c8b3d11",
    "type": "debug",
    "z": "b3b0c2c1a9e7d001",
    "name": "Siren output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 240,
    "wires": []
  },
  {
    "id": "3f50b6a7c1c8b3d12",
    "type": "debug",
    "z": "b3b0c2c1a9e7d001",
    "name": "Errors / denied",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1060,
    "y": 280,
    "wires": []
  }
]

