examples/alarm-ultimate-basic.json
[
  {
    "id": "f1c9d0f3d9b8a001",
    "type": "tab",
    "label": "Alarm Ultimate - Example",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2a7b8c9d0e1f2345",
    "type": "comment",
    "z": "f1c9d0f3d9b8a001",
    "name": "Control (msg.topic = alarm)",
    "info": "Usa questi inject per inviare comandi al nodo AlarmSystemUltimate.",
    "x": 200,
    "y": 60,
    "wires": []
  },
  {
    "id": "a1b2c3d4e5f6a7b8",
    "type": "AlarmSystemUltimate",
    "z": "f1c9d0f3d9b8a001",
    "name": "Home Alarm",
    "controlTopic": "alarm",
    "payloadPropName": "payload",
    "persistState": true,
    "requireCodeForArm": false,
    "requireCodeForDisarm": false,
    "armCode": "",
    "duressCode": "",
    "exitDelaySeconds": 10,
    "entryDelaySeconds": 30,
    "openZonesArmingIntervalSeconds": 1,
    "sirenDurationSeconds": 180,
    "sirenLatchUntilDisarm": false,
    "sirenTopic": "alarm/siren",
    "sirenOnPayload": true,
    "sirenOnPayloadType": "bool",
    "sirenOffPayload": false,
    "sirenOffPayloadType": "bool",
    "emitRestoreEvents": false,
    "maxLogEntries": 50,
    "zones": "[\n  {\n    \"name\": \"Front door\",\n    \"topic\": \"sensor/frontdoor\",\n    \"type\": \"perimeter\",\n    \"entry\": true,\n    \"bypassable\": true,\n    \"chime\": true\n  },\n  {\n    \"name\": \"Living PIR\",\n    \"topic\": \"sensor/living_pir\",\n    \"type\": \"motion\",\n    \"entry\": false,\n    \"bypassable\": true,\n    \"cooldownSeconds\": 10\n  }\n]",
    "x": 420,
    "y": 220,
    "wires": [
      [
        "d0c7f3b4a1e2d9c0"
      ],
      [
        "c1b2a3d4e5f60718"
      ],
      [
        "b7c6d5e4f3a2b1c0"
      ],
      [
        "aa11bb22cc33dd44"
      ],
      [
        "ee55ff66aa77bb88"
      ],
      [
        "1122334455667788"
      ],
      [
        "99aabbccddeeff00"
      ],
      [
        "13579bdf2468ace0"
      ],
      [
        "02468ace13579bdf"
      ]
    ]
  },
  {
    "id": "f0e1d2c3b4a59687",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Arm",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "arm",
        "vt": "str"
      }
    ],
    "topic": "alarm",
    "command": "arm",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 100,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "0f1e2d3c4b5a6978",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Disarm",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "disarm",
        "vt": "str"
      }
    ],
    "topic": "alarm",
    "command": "disarm",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 140,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "1234abcd5678ef00",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Status",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "status",
        "vt": "str"
      }
    ],
    "topic": "alarm",
    "command": "status",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 180,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "bypassfront000000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Bypass sensor/frontdoor",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "bypass",
        "vt": "str"
      },
      {
        "p": "zoneTopic",
        "v": "sensor/frontdoor",
        "vt": "str"
      }
    ],
    "topic": "alarm",
    "command": "bypass",
    "zoneTopic": "sensor/frontdoor",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 260,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "unbypassfront0000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Unbypass sensor/frontdoor",
    "props": [
      {
        "p": "topic",
        "v": "alarm",
        "vt": "str"
      },
      {
        "p": "command",
        "v": "unbypass",
        "vt": "str"
      },
      {
        "p": "zoneTopic",
        "v": "sensor/frontdoor",
        "vt": "str"
      }
    ],
    "topic": "alarm",
    "command": "unbypass",
    "zoneTopic": "sensor/frontdoor",
    "once": false,
    "onceDelay": 0.1,
    "x": 190,
    "y": 300,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "5e6f7a8b9c0d1e2f",
    "type": "comment",
    "z": "f1c9d0f3d9b8a001",
    "name": "Sensors (msg.topic = sensor/...)",
    "info": "Simula i sensori con payload booleano: true = attivo/aperto, false = ok/chiuso.",
    "x": 230,
    "y": 360,
    "wires": []
  },
  {
    "id": "frontopen00000000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Front door OPEN",
    "props": [
      {
        "p": "topic",
        "v": "sensor/frontdoor",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": true,
        "vt": "bool"
      }
    ],
    "topic": "sensor/frontdoor",
    "payload": true,
    "payloadType": "bool",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 400,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "frontclose0000000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Front door CLOSED",
    "props": [
      {
        "p": "topic",
        "v": "sensor/frontdoor",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": false,
        "vt": "bool"
      }
    ],
    "topic": "sensor/frontdoor",
    "payload": false,
    "payloadType": "bool",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 440,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "piractive00000000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Living PIR ACTIVE",
    "props": [
      {
        "p": "topic",
        "v": "sensor/living_pir",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": true,
        "vt": "bool"
      }
    ],
    "topic": "sensor/living_pir",
    "payload": true,
    "payloadType": "bool",
    "once": false,
    "onceDelay": 0.1,
    "x": 180,
    "y": 480,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "pirclear000000000",
    "type": "inject",
    "z": "f1c9d0f3d9b8a001",
    "name": "Living PIR CLEAR",
    "props": [
      {
        "p": "topic",
        "v": "sensor/living_pir",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": false,
        "vt": "bool"
      }
    ],
    "topic": "sensor/living_pir",
    "payload": false,
    "payloadType": "bool",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 520,
    "wires": [
      [
        "a1b2c3d4e5f6a7b8"
      ]
    ]
  },
  {
    "id": "c0ffee0000000001",
    "type": "comment",
    "z": "f1c9d0f3d9b8a001",
    "name": "Output-only helper nodes",
    "info": "Questi nodi leggono lo stato dall'AlarmSystemUltimate selezionato (alarmId).",
    "x": 250,
    "y": 600,
    "wires": []
  },
  {
    "id": "statehelper000000",
    "type": "AlarmUltimateState",
    "z": "f1c9d0f3d9b8a001",
    "name": "Alarm State",
    "alarmId": "a1b2c3d4e5f6a7b8",
    "topic": "",
    "outputInitialState": true,
    "x": 190,
    "y": 640,
    "wires": [
      [
        "debug_helper_state"
      ]
    ]
  },
  {
    "id": "zonehelper0000000",
    "type": "AlarmUltimateZone",
    "z": "f1c9d0f3d9b8a001",
    "name": "Front door zone",
    "alarmId": "a1b2c3d4e5f6a7b8",
    "zoneTopic": "sensor/frontdoor",
    "topic": "",
    "outputInitialState": true,
    "x": 200,
    "y": 680,
    "wires": [
      [
        "debug_helper_zone"
      ]
    ]
  },
  {
    "id": "sirenhelper000000",
    "type": "AlarmUltimateSiren",
    "z": "f1c9d0f3d9b8a001",
    "name": "Alarm Siren",
    "alarmId": "a1b2c3d4e5f6a7b8",
    "topic": "",
    "outputInitialState": true,
    "x": 190,
    "y": 720,
    "wires": [
      [
        "debug_helper_siren"
      ]
    ]
  },
  {
    "id": "d0c7f3b4a1e2d9c0",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Events (out 1)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 720,
    "y": 140,
    "wires": []
  },
  {
    "id": "c1b2a3d4e5f60718",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Siren (out 2)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 720,
    "y": 180,
    "wires": []
  },
  {
    "id": "b7c6d5e4f3a2b1c0",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Alarm Triggered (out 3)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 760,
    "y": 220,
    "wires": []
  },
  {
    "id": "aa11bb22cc33dd44",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Arm/Disarm (out 4)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 740,
    "y": 260,
    "wires": []
  },
  {
    "id": "ee55ff66aa77bb88",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Zone Activity (out 5)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 740,
    "y": 300,
    "wires": []
  },
  {
    "id": "1122334455667788",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Errors/Denied (out 6)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 760,
    "y": 340,
    "wires": []
  },
  {
    "id": "99aabbccddeeff00",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Any Zone Open (out 7)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 760,
    "y": 380,
    "wires": []
  },
  {
    "id": "13579bdf2468ace0",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Open Zones (arming) (out 8)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 420,
    "wires": []
  },
  {
    "id": "02468ace13579bdf",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Open Zones (request) (out 9)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 460,
    "wires": []
  },
  {
    "id": "debug_helper_state",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Helper: Alarm State",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 740,
    "y": 640,
    "wires": []
  },
  {
    "id": "debug_helper_zone",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Helper: Front door",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 740,
    "y": 680,
    "wires": []
  },
  {
    "id": "debug_helper_siren",
    "type": "debug",
    "z": "f1c9d0f3d9b8a001",
    "name": "Helper: Siren",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 720,
    "y": 720,
    "wires": []
  }
]
